.notification {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-xs) var(--space-xs) var(--space-xs) var(--space-lg);
  border-radius: 999px;
  background-color: var(--notification-background-color);
  box-shadow: 0 0 0 1px var(--notification-color);
  color: var(--notification-color);
  font-size: var(--text-sm);

  &.negative {
    --notification-background-color: var(--color-danger-10);
    --notification-color: var(--color-danger);
  }

  &.positive {
    --notification-background-color: var(--color-success-10);
    --notification-color: var(--color-success);
  }
}

.notification-btn {
  // margin-left: auto;
  margin-left: var(--space-sm);
  color: inherit;

  &:hover, &.focus-visible {
    --background-color: var(--notification-background-color);
  }
}
