.view {
  padding: var(--space-xl);

  .CodeMirror {
    min-height: auto;
  }
}

.view-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: var(--space-xl);
}

.view-title {
  margin-bottom: var(--space-md);
  font-size: var(--text-xl);
  font-weight: 500;
}

.view-description {
  margin-bottom: var(--space-sm);
}

.view-date {
  color: var(--color-grey-lighter);
  font-size: var(--text-xs);
  font-weight: 500;
}

.view-header-btn {
  flex-shrink: 0;
  margin-left: var(--space-md);
}

.view-editor {
  overflow: hidden;
  margin-bottom: var(--space-xl);
  border-radius: 4px;
  background-color: var(--color-grey-dark);
}

.view-editor-header {
  display: flex;
  align-items: center;
  padding: var(--space-md);
  border-bottom: 1px solid var(--color-grey);
  color: var(--color-grey-lighter);

  svg {
    flex-shrink: 0;
  }
}

.view-editor-header-filename {
  margin-right: auto;
  margin-left: var(--space-sm);
  color: var(--color-white);
  font-size: var(--text-sm);
  font-weight: 500;
}

.markdown-body {
  padding: var(--space-xxxl) var(--space-xxl);
  color: var(--color-white) !important;

  div > :first-child {
    margin-top: 0;
  }

  h1, h2 {
    border-bottom: 1px solid var(--color-grey-light) !important;
  }

  code {
    background-color: rgba(0, 0, 0, .1) !important;
  }

  a {
    color: var(--color-primary) !important;
  }

  pre {
    background-color: rgba(0, 0, 0, .1) !important;

    code {
      background-color: transparent !important;
    }
  }

  blockquote {
    border-left: 4px solid var(--color-grey-lighter) !important;
    color: var(--color-grey-lighter) !important;
  }
}
