@import "../../styles/mixins.scss";

.view {
  width: 100%;

  .CodeMirror {
    min-height: auto;
    padding-bottom: var(--space-sm);
  }
}

.view-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: var(--space-xl);
  margin-bottom: var(--space-xl);

  @include breakpoint-small {
    margin-top: 0;
  }

  a:hover, a.focus-visible {
    text-decoration: underline;
    box-shadow: none;
  }
}

.view-header-user-username {
  margin-bottom: var(--space-xl);
  font-size: var(--text-xl);
  font-weight: 500;
}

.view-header-item {
  overflow: hidden;
}

.view-title-container {
  display: flex;
  align-items: flex-end;
  margin-bottom: var(--space-md);
}

.view-title-icon {
  flex-shrink: 0;
  margin-right: var(--space-md);
}

.view-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: var(--text-md);
  font-weight: 500;
}

.view-description {
  margin-bottom: var(--space-sm);
}

.view-info {
  font-size: var(--text-xs);
  font-weight: 500;
  color: var(--color-grey-lighter);
}

.view-info-item:not(:last-of-type) {
  margin-right: var(--space-sm);

  &::after {
    content: "\2022";
    display: inline;
    margin-left: var(--space-sm);
  }
}

.view-header-btn {
  flex-shrink: 0;
  margin-left: var(--space-md);
}

.view-editor {
  margin-bottom: var(--space-xl);
  border-radius: 4px;
  background-color: var(--color-grey-dark);
}

.view-editor-header {
  display: flex;
  align-items: center;
  padding: var(--space-md);
  border-bottom: 1px solid var(--color-grey);
  color: var(--color-grey-lighter);

  svg {
    flex-shrink: 0;
  }
}

.view-editor-header-filename {
  margin-right: auto;
  margin-left: var(--space-md);
  color: var(--color-white);
  font-size: var(--text-sm);
  font-weight: 500;
}
