.snippet-info {
  overflow: hidden;
  margin-right: auto;
}

.snippet-info-title-container {
  display: flex;
  align-items: flex-end;
  min-height: 20px;
}

.snippet-info-title-icon {
  flex-shrink: 0;
  margin-right: var(--space-md);
}

.snippet-info-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: var(--text-md);
  font-weight: 500;
}

.snippet-info-description {
  margin-top: var(--space-sm);
  font-size: var(--text-sm);
}

.snippet-info-details {
  margin-top: var(--space-md);
  font-size: var(--text-xs);
  font-weight: 500;
  color: var(--color-grey-lighter);
}

.snippet-info-details-item {
  &:not(:last-of-type) {
    margin-right: var(--space-sm);

    &::after {
      content: "\2022";
      display: inline;
      margin-left: var(--space-sm);
    }
  }
}

.snippets-info-link {
  &:hover, &.focus-visible {
    text-decoration: underline;
    box-shadow: none;
  }
}
