@import "../../styles/mixins.scss";

.form {
  .CodeMirror {
    ::-webkit-scrollbar {
      width: 10px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: var(--color-grey-light);
    }
  }

  .CodeMirror-scroll {
    min-height: 332px;
  }
}

.form-input-group {
  padding-bottom: var(--space-xl);
}

.form-input-group-item {
  display: block;
  margin-bottom: var(--space-xl);

  .input {
    --background-color: var(--color-grey-dark);

    width: 100%;
  }
}

.form-input-group-item-title {
  margin-left: var(--space-md);
  margin-bottom: var(--space-md);
  font-size: var(--text-sm);
  font-weight: 500;
}

.form-input-group-item-error {
  margin-left: var(--space-md);
  margin-top: var(--space-md);
  font-size: var(--text-xs);
  font-weight: 500;
  color: var(--color-danger);
}

.form-settings-btn {
  position: relative;
  left: 100%;
  transform: translateX(-100%);

  &:hover {
    --background-color: var(--color-grey);
  }
}

.form-editor {
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  margin-bottom: var(--space-xl);
  border-radius: 4px;
  background-color: var(--color-grey-dark);

  &.visible {
    opacity: 1;
    visibility: visible;
  }
}

.form-editor-toolbar {
  display: flex;
  height: 45px;
  padding: var(--space-md);
  border-bottom: 1px solid var(--color-grey);

  .input {
    width: 140px;
    border-radius: 4px;
    margin-right: auto;
    padding: var(--space-sm) var(--space-md);

    @include breakpoint-small {
      width: 120px;
    }
  }

  .icon-btn {
    margin-left: var(--space-md);
  }
}

.from-editor-bottom-bar {
  padding: var(--space-md);
  border-top: 1px solid var(--color-grey);
  font-size: var(--text-sm);
  color: var(--color-grey-lighter);
}

.form-markdown-preview-btn.active {
  background-color: var(--color-grey-darkest);
  color: var(--color-white);
}

.form-update-btn {
  position: relative;
}

.form-footer-btns {
  display: flex;
  justify-content: space-between;
}

.form-footer-message {
  margin-bottom: var(--space-md);
  color: var(--color-danger);
  font-size: var(--text-sm);
  font-weight: 500;
  text-align: right;
}
