.editor-content-container {
  overflow: auto;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-grey-light);
  }
}

.editor-content {
  width: fit-content;
  padding-left: var(--gutter-width);
  padding-right: var(--space-sm);
  white-space: pre;
}

.editor-gutter {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--gutter-width);
  padding: var(--space-sm) 0;
  cursor: default;
  user-select: none;
  background-color: var( --editor-background-color, var(--color-grey-dark));
}

.CodeMirror {
  height: auto;
  min-height: 332px;
  font-family: "Roboto Mono", monospace;
  font-size: var(--cm-font-size, 16px);
  line-height: 1.35 !important;
}

.CodeMirror-linenumber {
  min-width: 32px;
  text-align: center;
}

.cm-s-dracula {
  --selection-color: var(--color-grey-light-99);
  --background-color: var(--editor-background-color, var(--color-grey-dark));

  &.CodeMirror, .CodeMirror-gutters {
    background-color: var(--background-color) !important;
  }

  .CodeMirror-linenumber {
    color: var(--color-grey-lighter) !important;
  }

  .CodeMirror-selected {
    background-color: var(--selection-color) !important;
  }

  .CodeMirror-line {
    &::selection {
      background-color: var(--selection-color) !important;
    }

    & > span::selection {
      background-color: var(--selection-color) !important;
    }

    & > span > span::selection {
      background-color: var(--selection-color) !important;
    }
  }
}
