.CodeMirror {
  height: auto;
  min-height: 332px;
  font-family: "Roboto Mono", monospace;
  font-size: var(--cm-font-size, 16px);
  line-height: 1.35 !important;
}

.CodeMirror-linenumber {
  min-width: 32px;
  text-align: center;
}

.cm-s-dracula {
  --selection-color: var(--color-grey-light-99);

  &.CodeMirror, .CodeMirror-gutters {
    background-color: inherit !important;
  }

  .CodeMirror-linenumber {
    color: var(--color-grey-lighter) !important;
  }

  .CodeMirror-selected {
    background-color: var(--selection-color) !important;
  }

  .CodeMirror-line {
    &::selection {
      background-color: var(--selection-color) !important;
    }

    & > span::selection {
      background-color: var(--selection-color) !important;
    }

    & > span > span::selection {
      background-color: var(--selection-color) !important;
    }
  }
}
