.settings-form {
  padding: 16px 0;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--color-grey-light);
}

.settings-form-title {
  margin-bottom: 16px;
}

.settings-form-field-title {
  margin-left: 8px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
}

.settings-form-field {
  margin-right: 8px;

  &.invalid {
    box-shadow: 0 0 0 1px var(--color-danger);
  }
}

.settings-form-field-message {
  padding: 0 var(--space-md);
  margin-top: var(--space-md);
  color: var(--color-danger);
  font-size: var(--text-sm);
}
