.snippet-remove-modal {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: var(--space-md);
  background-color: var(--color-grey-darkest-60);
}

.snippet-remove-modal-content {
  width: 100%;
  max-width: 360px;
  padding: var(--space-xl);
  border-radius: 4px;
  background-color: var(--color-grey-dark);
  box-shadow: 0 1px 4px 0 var(--color-black-10);
}

.snippet-remove-modal-title-container {
  display: flex;
  align-items: center;
  margin-bottom: var(--space-xl);
}

.snippet-remove-modal-title-icon {
  padding: var(--space-md);
  border-radius: 50%;
  background-color: var(--color-danger-10);
  box-shadow: 0 0 0 1px var(--color-danger);
  color: var(--color-danger);
}

.snippet-remove-modal-title {
  margin-left: var(--space-xl);
  font-size: var(--text-lg);
  font-weight: 500;
}

.snippet-remove-modal-content-bottom {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--space-xl);

  .btn:first-of-type {
    margin-right: var(--space-md);
  }
}
