@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-grey-light);
  }
}

@mixin breakpoint-smaller {
  @media (max-width: 520px) { @content; }
}

@mixin breakpoint-small {
  @media (max-width: 680px) { @content; }
}

@mixin header-breakpoint {
  @media (max-width: 720px) { @content; }
}

@mixin form-submit-breakpoint {
  @media (max-width: 710px) { @content; }
}
