@mixin text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin breakpoint-smaller {
    @media (max-width: 420px) { @content; }
}

@mixin breakpoint-small {
    @media (max-width: 680px) { @content; }
}

@mixin home-breakpoint {
    @media (max-width: 500px) { @content; }
}

@mixin form-submit-breakpoint {
    @media (max-width: 710px) { @content; }
}
