.snippet-preview {
  padding: var(--space-xl);
  margin-bottom: var(--space-xl);
  border-radius: 4px;
  background-color: var(--color-grey-dark);
  box-shadow: 0 1px 4px 0 var(--color-black-10);

  .CodeMirror {
    min-height: auto;
  }
}

.snippet-preview-top {
  display: flex;
  margin-bottom: var(--space-xl);

  .dropdown-container {
    margin-left: var(--space-md);
  }
}

.snippet-preview-link {
  display: block;
  min-height: 29px;
  padding-right: var(--space-sm);
  border-radius: 4px;
  box-shadow: 0 0 0 1px var(--color-grey-light);

  &:hover, &.focus-visible {
    --editor-background-color: var(--color-grey-light);

    background-color: var(--color-grey-light);
  }

  .cm-container {
    overflow: hidden;
    border-radius: 4px;
    pointer-events: none;

    .editor-content-container {
      overflow: hidden;
    }
  }
}

.snippet-markdown-preview {
  overflow: hidden;
  max-height: 218px;
  white-space: nowrap;
}

