.recent-snippets-header-title {
  margin-top: var(--space-xl);
  margin-bottom: var(--space-xxxl);
  font-size: var(--text-xl);
  font-weight: 500;
}

.recent-snippets-notification {
  margin-bottom: var(--space-xl);
}

.recent-snippets {
  display: flex;
  flex-direction: column;
}

.recent-snippet-items {
  flex-grow: 1;
}

.recent-snippets-footer {
  display: flex;
  justify-content: center;

  .btn {
    margin-right:  var(--space-md);
  }
}

.recent-snippet-dropdown {
  position: absolute;
  right: 0;
  display: none;
  padding: var(--space-md);
  border-radius: 4px;
  background-color: var(--color-grey);
  box-shadow: 0 1px 4px 0 var(--color-black-10);
  transform: translateY(var(--space-sm));

  &.visible {
    display: block;
  }
}

.recent-snippet-dropdown-btn {
  justify-content: flex-start;
  width: 100%;
  padding: var(--space-sm) var(--space-lg);
  white-space: nowrap;

  &:hover, &.focus-visible {
    background-color: var(--color-grey-dark);
  }

  &:not(:last-of-type) {
    margin-bottom: var(--space-md);
  }
}
