.recent-snippets-header-title {
  margin-top: var(--space-xl);
  margin-bottom: var(--space-xxxl);
  font-size: var(--text-xl);
  font-weight: 500;
}

.recent-snippets-notification {
  margin-bottom: var(--space-xl);
}

.recent-snippets {
  display: flex;
  flex-direction: column;
}

.recent-snippet-items {
  flex-grow: 1;
}

.recent-snippets-footer {
  display: flex;
  justify-content: center;

  .btn {
    margin-right:  var(--space-md);
  }
}
