@import "../../styles/mixins.scss";

.home-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.home {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 520px;
  padding-right: 0;

  @include breakpoint-small {
    padding-left: var(--space-xl);
    font-size: var(--text-xs);
  }
}

.home-intro-logo {
  margin-bottom: var(--space-xxxl);
}

.home-intro-title {
  margin-bottom: var(--space-md);
  font-size: var(--text-xxxl);
  font-weight: 500;
}

.home-intro-subtitle {
  font-size: var(--text-xl);
}

.home-intro-btn {
  display: inline-block;
  margin-top: var(--space-xxxl);
  padding: var(--space-md) var(--space-xxl);
  font-size: var(--text-md);
}
