@import "../../styles/mixins.scss";

.header {
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
  box-shadow: 0 1px 4px 0 var(--color-black-10);
  background-color: var(--color-grey-darker);
}

.header-nav-items {
  display: flex;
}

.header-nav-item {
  display: flex;
  align-items: center;
  height: var(--header-height);
  transition: 0.2s background-color;

  &:first-of-type {
    margin-right: auto;
  }

  &:not(:first-of-type) {
    margin-left: var(--space-md);
  }
}

.header-home-link {
  display: flex;
  align-items: center;
  font-size: var(--text-lg);
  color: var(--color-primary);

  img {
    height: calc(var(--header-height) - var(--space-xl));
  }
}

.header-link {
  --text-color: var(--color-grey-lighter);

  color: var(--text-color);

  &:hover, &.focus-visible {
    --background-color: var(--color-grey-light);
    --text-color: var(--color-white);
  }

  &.active {
    --text-color: var(--color-white);
  }
}

.header-nav-dropdown-toggle-btn {
  display: none;
  padding: var(--space-md);

  @include breakpoint-small {
    display: block;
  }
}

.header-nav-dropdown {
  .header-link {
    margin-left: var(--space-md);
  }

  @include breakpoint-small {
    position: absolute;
    right: 0;
    display: none;
    flex-direction: column;
    min-width: 140px;
    padding: var(--space-md);
    border-radius: 4px;
    background-color: var(--color-grey);
    box-shadow: 0 1px 4px 0 var(--color-black-10);
    transform: translateY(var(--space-sm));

    &.visible {
      display: flex;
    }

    .header-link {
      margin-left: 0;
      text-align: center;

      &:not(:last-of-type) {
        margin-bottom: var(--space-md);
      }

      &:hover, &.focus-visible {
        --background-color: var(--color-grey-dark);
      }
    }
  }
}
