@import "../../styles/mixins.scss";

.snippets-message-container {
  position: relative;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-50%);

  .btn {
    margin-top: var(--space-xl);
  }
}

.snippets-header {
  --h-spacing: var(--space-xl);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-xl) var(--h-spacing) 0 var(--h-spacing);

  @include breakpoint-small {
    --h-spacing: var(--space-md);
  }
}

.snippets-header-title {
  font-size: var(--text-xl);
  font-weight: 500;
}

.snippets {
  --snippets-spacing: var(--space-xl);

  padding: var(--snippets-spacing);

  @include breakpoint-small {
    --snippets-spacing: var(--space-xl) var(--space-md);
  }
}

.snippet {
  padding: var(--space-xl) var(--space-xl) var(--space-md) var(--space-xl);
  border-radius: 4px;
  background-color: var(--color-grey-dark);
  box-shadow: 0 1px 4px 0 var(--color-black-10);
  transition: 0.2s opacity, 0.2s visibility;

  &:not(:last-of-type) {
    margin-bottom: var(--space-xl);
  }

  .CodeMirror {
    min-height: auto;
  }
}

.snippet-title {
  margin-bottom: var(--space-md);
  font-size: var(--text-md);
  font-weight: 500;
}

.snippet-description {
  margin-bottom: var(--space-sm);
  font-size: var(--text-sm);
}

.snippet-info {
  margin-bottom: var(--space-sm);
  font-size: var(--text-xs);
  font-weight: 500;
  color: var(--color-grey-lighter);
}

.snippet-info-item:not(:last-of-type) {
  margin-right: var(--space-sm);

  &::after {
    content: "\2022";
    display: inline;
    margin-left: var(--space-sm);
  }
}

.snippet-link {
  display: block;
  min-height: 29px;
  padding-right: var(--space-sm);
  border-radius: 4px;
  box-shadow: 0 0 0 1px var(--color-grey-light);

  &:hover, &.focus-visible {
    --editor-background-color: var(--color-grey-light);

    background-color: var(--color-grey-light);
  }

  .cm-container {
    pointer-events: none;
    max-height: 218px;
  }
}

.snippet-footer {
  display: flex;
  margin-top: var(--space-md);
}

.snippet-remove-btn {
  margin-left: var(--space-md);
}
