@import "../../styles/mixins.scss";

.snippets-container {
  display: flex;
  flex-direction: column;
}

.snippets-header {
  display: flex;
  align-items: center;
  margin-top: var(--space-xl);
  margin-bottom: var(--space-xxxl);

  .btn {
    display: flex;
    margin-left: auto;
  }
}

.snippets-header-image {
  margin-right: var(--space-xl);

  &.placeholder {
    padding: var(--space-lg);
  }
}

.snippets-header-title {
  font-size: var(--text-xl);
  font-weight: 500;
}

.snippets-notification {
  margin-bottom: var(--space-xl);
}

.snippet-tab-selection {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--space-md);
}

.snippet-tab-selection-item {
  margin-bottom: var(--space-md);

  &:not(:last-of-type) {
    margin-right: var(--space-md);
  }
}

.snippet-tab-selection-btn {
  --background-color: tranparent;

  display: flex;
  align-items: center;
  height: 100%;
  padding-right: var(--space-md);

  &.active {
    --background-color: var(--color-grey);

    &:hover {
      --background-color: var(--color-grey-light);
    }

    .snippet-tab-item-count {
      background-color: var(--color-grey-dark);
    }
  }

  &:hover, &.focus-visible {
    --background-color: var(--color-grey);

    .snippet-tab-item-count {
      background-color: var(--color-grey-dark);
    }
  }
}

.snippet-tab-selection-btn-icon {
  margin-right: var(--space-md);
}

.snippet-tab-item-count {
  margin-left: var(--space-md);
  padding: var(--space-sm) var(--space-md);
  border-radius: 999px;
  background-color: var(--color-grey);
  font-weight: normal;
  font-size: var(--text-sm);
  transition: 0.2s background-color;
}

.snippets-footer {
  display: flex;
  justify-content: center;
  margin-top: auto;

  .btn:first-of-type {
    margin-right: var(--space-md);
  }
}

.snippets-visible-snippet-message {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  font-size: var(--text-lg);
}

.snippets-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

  .btn {
    margin-top: var(--space-xl);
  }
}

.snippet-dropdown {
  position: absolute;
  right: 0;
  display: none;
  padding: var(--space-md);
  border-radius: 4px;
  background-color: var(--color-grey);
  box-shadow: 0 1px 4px 0 var(--color-black-10);
  transform: translateY(var(--space-sm));

  &.visible {
    display: block;
  }
}

.snippet-dropdown-btn {
  justify-content: flex-start;
  width: 100%;
  padding: var(--space-sm) var(--space-lg);
  white-space: nowrap;

  &:hover, &.focus-visible {
    background-color: var(--color-grey-dark);
  }

  &:not(:last-of-type) {
    margin-bottom: var(--space-md);
  }
}
