@import "../../styles/mixins.scss";

.snippets-container {
  display: flex;
  flex-direction: column;
}

.snippets-header {
  display: flex;
  align-items: center;
  margin-top: var(--space-xl);
  margin-bottom: var(--space-xxxl);
}

.snippets-header-image {
  margin-right: var(--space-xl);

  &.placeholder {
    padding: var(--space-lg);
  }
}

.snippets-header-title {
  font-size: var(--text-xl);
  font-weight: 500;
}

.snippet-tab-selection {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--space-md);

  @include breakpoint-smaller {
    @include scrollbar;

    overflow-x: auto;
    flex-wrap: nowrap;
    padding: var(--space-xs) var(--space-xs) var(--space-md) var(--space-xs);
  }
}

.snippet-tab-selection-item {
  margin-bottom: var(--space-md);

  &:not(:last-of-type) {
    margin-right: var(--space-md);
  }

  @include breakpoint-smaller {
    margin-bottom: 0;
  }
}

.snippet-tab-selection-btn {
  --background-color: tranparent;

  display: flex;
  align-items: center;
  height: 100%;
  padding-left: var(--space-lg);
  padding-right: var(--space-md);

  &.active {
    --background-color: var(--color-grey);

    &:hover {
      --background-color: var(--color-grey-light);
    }

    .snippet-tab-item-count {
      background-color: var(--color-grey-dark);
    }
  }

  &:hover, &.focus-visible {
    --background-color: var(--color-grey);

    .snippet-tab-item-count {
      background-color: var(--color-grey-dark);
    }
  }
}

.snippet-tab-selection-btn-icon {
  margin-right: var(--space-md);
}

.snippet-tab-item-count {
  margin-left: var(--space-md);
  padding: var(--space-sm) var(--space-md);
  border-radius: 999px;
  background-color: var(--color-grey);
  font-weight: normal;
  font-size: var(--text-sm);
  transition: 0.2s background-color;
}

.snippets-footer {
  display: flex;
  justify-content: center;
  margin-top: auto;

  .btn:first-of-type {
    margin-right: var(--space-md);
  }
}

.snippets-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;

  .btn {
    margin-top: var(--space-xl);
  }
}
