.no-match {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: var(--space-xxl);
}

.no-match-message {
  font-weight: 500;
  font-size: var(--text-xl);
}
