.profile-image-form {
  display: flex;
}

.profile-image-container {
  overflow: hidden;
  position: relative;
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

.profile-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  min-width: 36px;
}

.profile-image-placeholder {
  padding: var(--space-md);
  border-radius: 50%;
  box-shadow: 0 0 0 1px var(--color-grey-light);
  color: var(--color-grey-lighter);
}

.profile-image-select-btn {
  display: flex;
  align-items: center;
  margin-left: var(--space-md);
  margin-right: var(--space-md);
}

.profile-image-form-submit-btn {
   --background-color: var(--color-grey);

  position: relative;
  margin-left: auto;
}
