.profile-image-form {
  display: flex;
}

.profile-image-select-btn {
  display: flex;
  align-items: center;
  margin-left: var(--space-md);
  margin-right: var(--space-md);
}

.profile-image-form-submit-btn {
   --background-color: var(--color-grey);

  position: relative;
  margin-left: auto;
}
