.password-form-field-container {
  display: block;
}

.password-form-field-group {
  display: flex;
  justify-content: space-between;
  margin-top: var(--space-xl);

  .password-form-field-container {
    width: calc(50% - var(--space-sm));
  }

  & + .password-form-field-notification {
    text-align: center;
  }
}

.password-form-field-notification {
  margin-top: var(--space-md);
  color: var(--color-danger);
  font-size: var(--text-sm);
}

.password-form-submit-btn {
  position: relative;
  left: 100%;
  margin-top: var(--space-xl);
  transform: translateX(-100%);
}
